{% extends "base.html" %}
{% load static %}

{% block title %}Admin Home Page{% endblock %}

{% block headscript %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Category', 'Amount', { role: 'style' }],
      ['User Balances',  total_user_balances, 'color: #e5e4e2'], // Replace #e5e4e2 with your desired color
      ['Pending Withdrawals', total_pending_withdrawals , 'color: #f3babc'], // Replace with your color
      ['Recharges Awaiting Auth.', total_recharges_awaiting_authentication , 'color: #b6d7a8'], // And so on...
      ['Pending Recharges',  total_pending_recharges , 'color: #ffd966'],
      ['Complete Recharges',  total_complete_recharges , 'color: #6fa8dc'],
      ['Complete Withdrawals', total_complete_withdrawals , 'color: #c27ba0']
    ]);

    var options = {
      title: 'Financial Overview',
      legend: { position: 'none' },
      bar: { groupWidth: '75%' }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
  window.addEventListener('resize', drawChart);
</script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Month');
    data.addColumn('number', 'Total Withdrawals');
    data.addColumn('number', 'Total Recharges');

    {% for month, amounts in combined_data %}
        </script>
          data.addRow(['{{ month }}', {{ amounts.withdrawals }}, {{ amounts.recharges }}]);
        </script>
    {% endfor %}

    var options = {
      title: 'Monthly Financial Overview',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
  }
  window.addEventListener('resize', drawChart);
</script>

{% endblock %}

{% block body %}
<style>
  .info-box {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.46875rem 2.1875rem rgb(0 0 0 / 3%), 0 0.9375rem 1.40625rem rgb(0 0 0 / 3%), 0 0.25rem 0.53125rem rgb(0 0 0 / 5%), 0 0.125rem 0.1875rem rgb(0 0 0 / 3%);
    padding: 1rem;
    position: relative;
  }

  .info-box .card-body {
    padding: 1.25rem;
  }

  .info-box .card-title {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info-box .card-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .info-box small {
    font-size: 0.875rem;
    color: #6c757d;
  }

  .info-icon {
    font-size: 1rem; /* Adjust the size as needed */
  }

  a {
    text-decoration: none;
  }
</style>
<style>
  .custom-table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
  }

  .custom-table thead th {
    border-bottom: none;
  }

  .custom-table tbody tr {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
  }

  th, td {
    min-width: 80px;
    text-align: center;
  }

  .referral_row {
    width: 120px;
  }

  .count_row {
    width: 40px !important;
  }

  .referrals_row { 
    width: 120px;
  }  

    /* Style for table data cells (td) */
    .table-wrapper td {
      padding: 10px; /* Data cell padding */
      text-align: left; /* Data text alignment */
    }

  .priority-high {
    color: #ff4757;
    background-color: #ffebee;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
  }

  .priority-medium {
    color: #ffa502;
    background-color: #fff3e0;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
  }

  .priority-low {
    color: #2ed573;
    background-color: #e8f5e9;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
  }

  .member-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: relative;
    z-index: 3;
  }

  .member-stack {
    margin-left: -1rem;
    display: inline-block;
  }

  .progress-bar {
    background-color: #747d8c;
    border-radius: 1rem;
  }

  .progress {
    background-color: #ecf0f1;
    border-radius: 1rem;
  }

  .view-all {
    text-align: center;
    margin-top: 2rem;
  }
</style>
<style>
    .chart-container {
        width: 100%; /* Chart container takes full width of its parent */
        max-width: 900px; /* Maximum width, can be adjusted */
        margin: auto; /* Centers the chart */
        aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
    }    

    .table {
      min-width: 800px !important;
    }

    #chart_div, #curve_chart {
        width: 100%; /* Chart takes full width of its container */
        height: 100%; /* Chart takes full height of its container */
    }

    @media screen and (max-width: 767px) {
        .chart-container {
            height: 300px; /* Smaller height for smaller screens */
        }
    }
</style>
<section>
    <div class="container py-3">
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
        <div class="col">
          <div class="info-box">
            <div class="card-body">
              <h5 class="card-title">
                Products
                <a href="/adm/add_products/">
                    <i class="fas fa-plus"></i> Add <!-- Changed to vertical ellipsis -->
                </a>
              </h5>
              <p class="card-text">{{ products_count }}</p>
              <small>{{ vip_products_count }} VIP</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="info-box">
            <div class="card-body">
              <h5 class="card-title">
                Withdrawals
                <a href="/adm/pending_withdrawals/">
                  <i class="fas fa-arrow-down"></i> Pending<!-- Changed to vertical ellipsis -->
                </a>
              </h5>
              <p class="card-text">{{ total_withdrawals_count }}</p>
              <small>{{ complete_withdrawal_count }} Completed</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="info-box">
            <div class="card-body">
              <h5 class="card-title">
                Recharges
                <a href="/adm/pending_recharges/">
                  <i class="fas fa-arrow-up"></i> Approve<!-- Changed to vertical ellipsis -->
                </a>
              </h5>
              <p class="card-text">{{ total_recharge_count }}</p>
              <small>{{ complete_recharge_count }} Approved</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="info-box">
            <div class="card-body">
              <h5 class="card-title">
                Transactions
                <a href="/adm/complete_transactions/">
                  <i class="fas fa-binoculars"></i> View<!-- Changed to vertical ellipsis -->
                </a>
              </h5>
              <p class="card-text">12</p>
              <small>1 Completed</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
        <div class="row">
            <div class="col">
                <div class="chart-container">
                    <div id="chart_div"></div>
                </div>
            </div>
            <div class="col">
              <div class="chart-container">
                <div id="curve_chart"></div>
              </div>
            </div>
        </div>
    </div>
  
  <div class="container">
    <div class="row">
      {% if selected_contact %}
      <div class="col-12">
        {{ selected_contact.name }} - {{ selected_contact.mpesa_number }}
      </div>
      <div class="col-12">
        <a href="/adm/delete_selected_contact/" class="btn btn-danger">deselect contact</a>
      </div>
      {% else %}
        <p class="text-danger text-center">No selected contact. Contact in use is '{{ contact_in_use.name }} - {{ contact_in_use.mpesa_number }}'</p>
      {% endif %}
    </div>
    {% if mpesa_contacts %}
    <div class="row">
      <form method="post" action="/adm/select_receiver_account/" id="myForm">
          {% csrf_token %}
          <div class="form-group row">
            {% for contact in mpesa_contacts %}
              <label class="col-sm-6 text-danger col-form-label">Operation</label>
              <div class="col-sm-6">
                  <div class="d-flex align-items-center">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="select" id="contact" value="{{ contact.pk }}">
                          <label class="form-check-label" for="addRadio">
                              {{ contact.name }} - {{ contact.mpesa_number }}
                          </label>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
          
          <div class="d-flex justify-content-around pt-3">
              <button type="submit" class="btn btn-warning text-center">Select</button>
          </div>
      </form>
      </div>
    {% endif %}
  </div>
<!--   table-striped -->
  <div class="container mt-5">
      <h2>Active Members</h2>
      <div class="table-wrapper">
        <table class="table custom-table table-striped"  id="subscribedUsersTable">
          <thead>
            <tr>
              <th></th>
              <th scope="col">Username</th>
              <th scope="col">Machines</th>
              <th scope="col">Status</th>
              <th scope="col referral_row">Referrals</th>
              <th scope="col">Progress</th>
            </tr>
          </thead>
          <tbody>
            <!-- Repeat this TR for each project -->
            {% if subscribed_users %}
            {% for subscribed_user in subscribed_users %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><i class="fab fa-dropbox"></i> {{ subscribed_user.username }}</td>
              <td>{{ subscribed_user.userdetails.active_subscriptions }}</td>
              <td><span class="priority-medium">{% if subscribed_user.is_active %}Active{% else %}Inactive{% endif %}</span></td>
              <td class="referral_row">
                {% if subscribed_user.userdetails.total_referrals == 0 %}
                <i class="text-danger">No referrals yet.</i>
                {% elif subscribed_user.userdetails.total_referrals == 1 %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img">
                <span>{{ subscribed_user.userdetails.total_referrals }}</span>
                {% elif subscribed_user.userdetails.total_referrals == 2 %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <span>{{ subscribed_user.userdetails.total_referrals }}</span>
                {% elif subscribed_user.userdetails.total_referrals == 3 %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <span>{{ subscribed_user.userdetails.total_referrals }}</span>
                {% elif subscribed_user.userdetails.total_referrals == 4 %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <span>{{ subscribed_user.userdetails.total_referrals }}</span>
                {% else %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0efdKLaNWqb-JKASydDA2A8CxHElhLqhu3g&usqp=CAU" alt="member" class="member-img member-stack">
                {% if subscribed_user.userdetails.total_referrals == 5 %}
                <span>{{ subscribed_user.userdetails.total_referrals }}</span>
                {% else %}
                <span>{{ subscribed_user.userdetails.total_referrals }}+</span>
                {% endif %}
                {% endif %}
              </td>
              <td>
                <div>
                  <a href="/adm/edit_user/{{ subscribed_user.pk }}/" class="btn btn-outline-success">view user</a>
                </div>
              </td>
            </tr>
            <!-- End of TR for each project -->
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5">No Subscribed Users Yet.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="view-all">
        <a href="/adm/all_users/">View All</a>
      </div>
    </div>

  
</section>

<script>
  new DataTable("#subscribedUsersTable");
</script>
{% endblock %}