{% extends "base.html" %}
{% load static %}

{% block title %}Pending Payments Page{% endblock %}

{% block body %}

<section>
    <div class="container-fluid bg-blui-1">
        <div class="row mx-auto">
        <nav class="navbar navbar-expand-lg navbar-dark py-3">
          <a class="navbar-brand" href="/">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Hello {{ user.username }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/logout/">Logout</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link disabled"
                    href="#"
                    tabindex="-1"
                    aria-disabled="true"
                    >Disabled</a
                  >
                </li>

              {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/register/">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login/">Sign In</a>
                  </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
        <div class="row">
            {% for product in pending_payments %}
                <ul>
                    <li>{{ product.username }}</li>
                    <li>{{ product.amount }}</li>
                    <li>{{ product.datetime_field|date:"Y-m-d" }}</li>
                    <li>{{ product.datetime_field|time:"H:i" }}</li>
                </ul><br /><br>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
